<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestWebSocket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E66AF031E8CA42E00032564</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E66AF1A1E8CA42E00032564</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E66AF251E8CA42E00032564</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
